html, body{
	background-color: white !important;
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Abel', sans-serif;
}

.randamNumberBoxRadius{
	height: 3.2rem;
}

a{
	color: #000 !important;
}

.keyboardNum{
	width:60px;
	height:60px;
	background-color:white;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	position:relative;
	border: 1px solid #fff;

}

.keyboardNumInner {
	position:absolute;
	top:-3px;
	left:-3px;
	width: 60px;
	height: 60px;
	text-align: center;
	background-color: #007bff;
	border-color: #007bff;
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#d2d2d2');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#d2d2d2')";
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
/*	background-image: -moz-linear-gradient(top, #ffffff, #d2d2d2);
	background-image: -ms-linear-gradient(top, #ffffff, #d2d2d2);
	background-image: -o-linear-gradient(top, #ffffff, #d2d2d2);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#d2d2d2));
	background-image: -webkit-linear-gradient(top, #ffffff, #d2d2d2);
	background-image: linear-gradient(top, #ffffff, #d2d2d2);*/
	/*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	font-size:xx-large;
	padding:10px 0 0 0;
	cursor: pointer;
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-khtml-user-select:none;


	border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.keyboardNumInner p {
	font-size:42px;
}

.btn-dark {
    color: #fff;
    background-color: #000 !important;
    border-color: #000 !important;
}

/*media queries*/

/*@media (min-width: 768px) {
        
        .numbar{
	
	margin-bottom: 1rem;
}

        }*/